.Color-Box{
    $boxSize : 200px;
    display : inline-block;
    
    width : $boxSize;
    height: $boxSize;
    border-radius : 10px;

    transition : all 0.35s ease-in-out 0s;
    cursor: pointer;
}